<table>
  <tr>
    <th>ID</th>
    <th>LABEL</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let element of tableau">
    <td>{{element.id}}</td>
    <td>{{element.label}}</td>
    <td>
      <button mat-icon-button (click)="modifier(element)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="supprimer(element.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </tr>
</table>


<br><br>


<form>
  {{nouvelElement}}
  <mat-form-field appearance="outline">
    <input matInput placeholder="Label" [(ngModel)]="nouvelElement" name="nouvelElement">
  </mat-form-field>
  <br>
  <button type="button" mat-raised-button color="primary" (click)="valider()">
    Valider
  </button>
</form>
