<div class="padding">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Connexion</mat-card-title>
    </mat-card-header>
    <mat-card-content class="mt-2">
      <p>
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email">
          <mat-icon matSuffix>mail</mat-icon>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Mot de passe</mat-label>
          <input matInput placeholder="Mot de passe">
          <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>
      </p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary">Connexion</button>
    </mat-card-actions>
  </mat-card>
</div>
