<div class="padding">
  <form [formGroup]="formulaire" (submit)="connexion()">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Connexion</mat-card-title>
      </mat-card-header>
      <mat-card-content class="mt-2">
        <p>
          <!-- Champ email -->
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="email">
            <mat-icon matSuffix>mail</mat-icon>
          </mat-form-field>
        </p>
        <p>
          <!-- Champ mot de passe -->
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Mot de passe</mat-label>
            <input matInput placeholder="Mot de passe" formControlName="motDePasse" type="password">
            <mat-icon matSuffix>lock</mat-icon>
          </mat-form-field>
        </p>
      </mat-card-content>
      <mat-card-actions align="end">
        <!-- Mot de passe oublié -->
        <button mat-button color="primary" type="button" (click)="motDePasseOublie()">
          Mot de passe oublié ?
        </button>

        <!-- Connexion -->
        <button mat-raised-button color="primary" type="submit">Connexion</button>
      </mat-card-actions>
    </mat-card>
    <br>
    <p class="text-center">
      Vous n'avez pas encore de compte ?
      <br>
      <button mat-button color="primary" type="button" routerLink="/inscription">
        Inscrivez-vous
      </button>
    </p>
  </form>
</div>
